<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <img src="images/dinosaur.gif"></div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-1"><a href="/page2/squirrel">a squirrel</a></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"><a href="/page2/kite">a kite</a></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"><a href="/page2/computer">a computer</div>
    <div class="col-md-4"></div>
</div>
