body {
    font-family: sans-serif;
}

#container {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 60px;
    background-color: black;
    margin-top: -15px;
}

#nav li {
    display: inline-block;
    color: white;
    font-size: 28px;
    margin-top: 15px;
    margin-left: 20px;
}

#image {
    margin-bottom: 20px;
}

#mainImage {
    width: 100%;
    height: auto;
}

#col1 {
    float: left;
    width: 31%;
    padding: 10px;
}

#col2 {
    float: left;
    width: 31%;
    padding: 10px;
}

#col3 {
    float: left;
    width: 31%;
    padding: 10px;
}

#footer {
    margin-top: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
}

#rule {
    width: 100%;
    height: 5px;
    background-color: black;
    margin-top: 20px;
}

.clear {
    clear: both;
    float: none
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
}

a:focus,
a:hover {
    color: gray;
}
