/*Tablet Version*/


/*Import styles from desktop.css*/

@import "desktop.css";

#header {
    width: 100%;
    height: auto;
    background-color: black;
    margin-top: -15px;
    padding-bottom: 10px;
}

#nav li {
    width: 100%;
    color: white;
    font-size: 28px;
    margin-top: 15px;
    margin-left: 20px;
}

#col1 {
    width: 95%;
    padding: 10px;
}

#col2 {
    width: 95%;
    padding: 10px;
}

#col3 {
    width: 95%;
    margin-top: 10px;
    padding: 10px;
}
