body{
    background-color: darkturquoise;
    font-family: sans-serif;
}

#mainForm{
    background-color: white;
    width: 370px;
    margin: 0 auto;
    padding: 20px;
}

#quarters{
    width: 100%;
}

#cars{
    width: 100%;
}


#logo{
    background-image: url("../images/monsterMash.png");
    width: 270px;
    height: 95px;
    margin-bottom: 10px;
}
